@page "{id?}"
@model IdentityServer.Areas.Identity.Pages.Account.Applications.ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar Password de Aplicación";
}


<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h2 class="m-0 text-dark">@ViewData["Title"]</h2>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <div class="float-sm-end">
           <a id="back-to-list" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Applications/Index">Listado</a>
        </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 margin-tb">

                <div class="card card-warning">
  <div class="card-header">
    <h3 class="card-title">Cambiar Password</h3>
  </div>
  <div class="card-body">
     <form id="changePasswordForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="alert alert-info">
            <h5><i class="icon fas fa-info"></i> Información de la Aplicación</h5>
            <p><strong>Client ID:</strong> @Model.ClientId</p>
            <p><strong>Nombre:</strong> @Model.DisplayName</p>
        </div>

        <div class="form-floating">
            <input asp-for="Input.ClientSecret" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ClientSecret"></label>
            <span asp-validation-for="Input.ClientSecret" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmSecret" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmSecret"></label>
            <span asp-validation-for="Input.ConfirmSecret" class="text-danger"></span>
        </div>
        <div class="card-footer">
            <div class="actions">
                <button id="changePasswordSubmit" type="submit" class="btn btn-warning">Cambiar Password</button>
                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Applications/Index">Cancelar</a>
            </div>
        </div>

     </form>
   </div>
</div>



            </div>
        </div>
    </div>
</div>
