@page
@model IdentityServer.Areas.Identity.Pages.Account.Applications.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta seguro de eliminar este cliente ? @Model.ClientId</h3>
<div>
   
    
    <form method="post">
        <input type="hidden" asp-for="ClientId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>